* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #f7f7f7, #616161); /* De izquierda a derecha */
    line-height: 1.6;
    color: #333;
    justify-content: center; 
    min-height: 100vh;
  }
  .container {
    width: 70%;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: rgba(12,0,0,);
  }
  .poro {
    display: flex;
    flex-wrap: wrap;
  }
  .grupo-vertical {
    display: flex;
    flex-direction: column; /* Alinea hijos en columna (vertical) */
    gap: 10px; /* Espacio entre ellos */
    margin: 20px;
  }
  header {
    display: block;
    background-color: #1b1b1b;
    color: white;
    padding: 0;
    /* position: sticky;
    top: 0;
    z-index: 999; */
  }
  header h1 {
    margin-bottom: 0px;
  }
  .nav {
    background-color: #333;
    color: white;
    padding: 0;
    position: sticky;
    top: 1;
    z-index: 1000;
    border-bottom: #ccc;
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin-top: 10px;
    padding: 0;
    
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
  }
  
  nav a:hover {
    background-color: #b3bfda;
    font-size: 20px;
  }
  
  header img {
    width: 150px;
    border-radius: 50%;
    display: block;
    /* margin: 0 auto 20px; */
    
  }
  
  .parallax {
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1350&q=80');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  
  .parallax .container {
    background-color: rgba(0, 0, 0, 0.5); /* Transparente */
    border-radius: 10px;
  }
  #experiencia {
    padding: 10px;
  }
  #exp {
    padding: 30px;
  }
  #exp ol {
    list-style: none;
  }
  .order {
    padding: 10px;
    margin: 10px;
  }
  #formacion {
    background-color: #f1f1f1;
    border-radius: 5px;
    border: 1px black solid;
  }
  .formacion {
    margin-left: 10px;
    padding: 10px;
    border: 1px black;
    display: flex;
    justify-content: center;
  }
  
  .formacion li {
    border: black solid 1px;
    margin: 20px;
    padding: 20px;
    height: 200px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  #idiomas {
    background-color: #1b1b1b80;
    color: white;
  }
  h2 {
    margin-bottom: 10px;
    font-size: 1.8em;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    display: flex; 
    justify-content: center;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
.habilidades {
  display: flex;
  width: auto;
  justify-content: center;
  height: 160px;
  padding: 5px;
  border: 1px solid black;
  margin: 5px;
  flex-direction: column;
}
.icon {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.hab {
  width: 180px; 
  display: flex;;
}
.hab h4 {
  align-self: center;
  color: black;
}
#contacto p{
  color: black;
  font-size: 20px;
}


  footer {
    background-color: #3b5998;
    color: white;
    text-align: center;
    padding: 10px 0;
  }